#フォーム全体{
position:relative;/*位置:相対*/
max-width:500px;/*最大幅*/
margin-bottom:200px;/*フォームの下に余白*/
}
#検索ボックス内{
height:100px;/*高さ*/
padding:0 510px;/*要素の内側の余白 対義語:margin(マージン)*/
position:absolute;/*位置:絶対*/
left:380;/*左*/
top:800;/*上*/
border-radius:25px 0 0 25px;/*境界半径*/
outline:100;/*概要*/
background:#eee;/*背景*/
}
#検索ボタン内{
height:105px;
width:80px;/*幅*/
position:absolute;
left:1200px;
top:10;
background:#7fbfff;/*背景*/
color:#fff;
border:none;/*境界線:なし*/
border-radius:0 25px 25px 0;/*境界半径*/
}
/*#虫眼鏡 .fa-search{
font-size:20px;/*フォントサイズ*/
/*position:absolute;
top:30px;
left:30px;
}
#sbtn4:hover{
color:#888;
/*検索ボタンマウスオーバー時のフォントカラー*/
.magnifying_glass {
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;
    color: #000;
    font-size:50px;
}
.magnifying_glass::before {
    position: absolute;
    top: 50px;
    left: 1205px;
    width: 0.7em;
    height: 0.7em;
    box-sizing: border-box;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    background-color: #fff;
    content: "";
}
.magnifying_glass::after {
    position: absolute;
    top: 0px;
    left: 50%;
    z-index: -1;
    transform: rotate(-45deg);
    width: 0.15em;
    height: 1em;
    box-sizing: border-box;
    background-color: currentColor;
    content: "";
}
}