<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <h1>メモ帳</h1>
        It works!<br/>
        現在の時刻は<span th:text="${time}"></span>です。
    </body>
</html>
<!--<html>-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>HelloTechAcademy</title>-->
<!--</head>-->
<!--<body>-->
<!--<p>Hello TechAcademy !</p>-->
<!--<h1><font color="red">こんにちは！</font></h1>-->
<!--<h2 style="color:blue">こんにちは！</h2>-->
<!--<p style="color:green">こんばんは！</p>-->
<!--<span style="color:brown">HTMLファイルだけで、</span>-->
<!--<span style="color:blue">文字色を変更する。</span>-->
<!--</body>-->
<!--</html>-->
